* {
font-family: 'Roboto', sans-serif;
margin: 0;
padding: 0;
}

a {
    text-decoration: none;
    color: gray;
}

.top-section {
    height: 75vh;
    background-color: #1F2937;
    position: relative;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
    font-size: 24px;
    margin-top: 15px;
    margin-left: 5vw;
}


.links {
    list-style-type: none;
    display: flex;
    font-size: 18px;
    gap: 8px;
    margin-top: 15px;
    margin-right: 5vw;
}

.title-card {
    position: absolute;
    color: white;
    height: 50%;
    width: 75vw;
    top: 20%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.description {
    align-self: flex-end;
    line-height: 25px;
}

.placeholder {
    background-color: grey;
    height: 250px;
    width: 500px;
    align-self: flex-end;
}

.some-info {
    text-align: center;
    height: 70vh;
}

.some-info h2 {
    font-size: 36px;
    color: #1F2937;
    margin-top: 1%;
}

.info-box {
    width: 80%;
    margin: auto;
    display: flex;
    top: 25%;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

.info {
    height: 20vh;
    width: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.card {
background-color:#3882F6;
border-radius: 15px;
height: 20vh;
width: 12vh;
margin-bottom: 15px;
}

.quote {
    background-color: #E5E7EB;
    height: 30vh;
    display: flex;
    align-items: center;
}

.quote p {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.bottom {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    border-radius: 15px;
    width: 80%;
    height: 60%;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    background-color: #3882F6
}

.call-to-action, .sign-up, footer p {
    color: white;
}

.sign-up {
    border: solid white;
    border-radius: 15px;
    background-color: #3882F6;
    width: 100px;
    height: 40px;
}

footer {
    height: 10vh;
    width: 100%;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}
