* {
font-family: 'Roboto', sans-serif;
margin: 0;
padding: 0;
}


.top-section {
    height: 50vh;
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
    font-size: 28px;
    margin-top: 15px;
    margin-left: 5vw;
}


.links {
    color: grey;
    list-style-type: none;
    display: flex;
    font-size: 18px;
    gap: 8px;
    margin-top: 15px;
    margin-right: 5vw;
}

.title-card {
    color: white;
    height: auto;
    width: 100vw;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 50px;
    border: solid red;
}

.description {
    align-self: flex-end;
    line-height: 25px;
}